<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FamilyMartUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FamilyMartUI.Properties.Settings>
            <setting name="Amount" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Customer" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Waste" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WorkHours" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Electric" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BoxLaunch" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Bread" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Noodel" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RiceRoll" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SuShi" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="JiXiang" serializeAs="String">
                <value>5</value>
            </setting>
        </FamilyMartUI.Properties.Settings>
    </userSettings>
</configuration>